#chartContainer {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 400px;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none; /* le canvas n’intercepte pas la souris */
}

#stats {
    vertical-align: top;
	display: inline-block;
	border-radius: 0.5rem;
	background-color: #EEE;
	margin: 1rem;
	padding: 0.5rem;
	box-shadow: 0 0 0.5rem #444;
}
